.container {

  @include phones {
    margin: 0 16px;
    width: 91%;
  }

  &__about {
    display: flex;
    margin-top: rem(40px);
    font-size: rem(16px);
    line-height: rem(24px);

   
  }

  &__left {
    margin-right: rem(32px);
    width: 75%;

    @include tablets {
      max-width: 100%;
      margin-right: 0;
      width: 100%;
    }
  }

  &__right {
    width: 20%;

    @include tablets {
      display: none;
    }
  }
  

  &__party {

    @include phones {
      margin: 0;
    }
    
  }
} 