html {
  font-size: $baseFontSize;


  @include tablets{
    font-size: $baseFontSize - 1px;
  }

  @include phones {
    font-size: $baseFontSize - 2px;
  }
}

html,
body {
  height: 100%;
  
}

body {
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing:  grayscale; 
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  padding-bottom: 30px;
}

.container {
  width: 95%;
  max-width: $containerWidth;
  margin: 0 auto;
}

* {
  box-sizing: border-box;

}

img {
  display: block;
  max-width: 100%;
}

h1,h2,h3,h4,h5,h6 {
  margin: 0;
}
 
